* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    padding: 10px;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.client-ranking {
    text-align: center;
    width: 80%; /* Ajouté pour centrer le contenu */
    max-width: 1000px;
    margin: auto; /* Centrage horizontal */
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search input {
    padding: 10px;
    font-size: 1rem;
    width: 300px;
    margin-right: 10px;
}

.search button {
    padding: 10px;
    font-size: 1rem;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
}

.ranking-info {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    gap: 20px;
    width: 100%;
}

.info-box {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    flex: 0; /* S'assurer que les boîtes prennent toute la largeur */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-box h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.info-box p {
    font-size: 1.5rem;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table th,
table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #444;
}

table th {
    background-color: #666;
}

table td {
    background-color: #999;
}

table tbody tr td:nth-child(1) {
    background-color: #d4b07f;
}

table tbody tr td:nth-child(2),
table tbody tr td:nth-child(3) {
    background-color: #f4e1c1;
}

footer {
    background-color: #111;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space;
    width: 80%; /* Limiter la largeur du footer */
    max-width: 1000px;
}

.footer-column {
    text-align: center;
}

.footer-column h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.footer-column p {
    margin: 5px 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin: 5px 0;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}
